<!DOCTYPE html>

{% extends "base_login.html" %}
{% load static %}

<html lang="zh-CN">

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .recode-image {
            background: rgb(210, 236, 243);
        }
    </style>
{% endblock %}
{% block html_title %}
    <title>Login</title>
{% endblock %}


{% block main %}
    <div class="wrap dowebok">
        <div class="logo">
            <a href="{% url "home_page" %}">
                <img class="head-image" src="{% static "media/image/login_default.png" %}" alt="logo">
            </a>
        </div>
        <div><h3>User login</h3></div>
        <form id="jsLoginForm">
            <div class="form-item">
                <input id="jsUsername" name="username" class="username" type="text"
                       autocomplete="off" placeholder="邮箱 / 用户名" required>
            </div>
            <div class="form-item">
                <input id="jsPassword" name="password" class="password"
                       type="password" autocomplete="off" placeholder="登录密码" required>
            </div>
            <div class="form-item">
                <button type="button" id="jsLoginSubmit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
{% endblock %}


</html>